vendor
bin
_output

# Test binary, build with `go test -c`
*.test
*.out

# editor and IDE paraphernalia
.idea
*.swp
*.swo
_book
docs/node_modules
docs_generated

# Bundle output (make bundle)
local/
bundle/
bundle.Dockerfile

# E2E dev cluster
e2e-tests-kubeconfig
